.hide-scrollbar::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
    display: none;
}

.hide-scrollbar {
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.opaque-on-mouseover {
    transition: opacity 0.3s;
    opacity: 0.6;
}

.opaque-on-mouseover:hover {
    transition: opacity 0.3s;
    opacity: 1;
}

.v-dialog__content--active {
    z-index: 999 !important;
}

.v-overlay--active {
    z-index: 998 !important;
}
